<?xml version="1.0"?>
<robot name="iiwa14" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find iiwa14_description)/urdf/iiwa14/iiwa14.xacro"/>

  <xacro:arg name="robot_name" default="lbr"/>
  <xacro:arg name="mode" default="mock"/>
  <xacro:arg name="system_config_path" default="$(find iiwa14_description)/ros2_control/lbr_system_config.yaml"/>
  <xacro:arg name="initial_joint_positions_path" default="$(find iiwa14_description)/ros2_control/initial_joint_positions.yaml"/>

  <link name="world"/>

  <joint name="$(arg robot_name)_world_joint" type="fixed">
    <parent link="world"/>
    <child link="$(arg robot_name)_link_0"/>
  </joint>

  <xacro:iiwa14
    robot_name="$(arg robot_name)"
    mode="$(arg mode)"
    system_config_path="$(arg system_config_path)"
    initial_joint_positions_path="$(arg initial_joint_positions_path)"/>
</robot>